[submodule "src/libntirpc"]
    path = src/libntirpc
    url = git@github.com:mapr/private-ntirpc.git
    branch = v6-mapr
[submodule "src/monitoring/prometheus-cpp-lite"]
    path = src/monitoring/prometheus-cpp-lite
    url = git@github.com:mapr/private-prometheus-cpp-lite.git
    branch = v1-mapr
